@font-face {
  font-family: 'Roboto-Light';
  src: local('?'), 
  url('fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Thin';
  src: local('?'), 
    url('fonts/Roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: thin;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: local('?'), 
    url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: thin;
  font-style: normal;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: 14px;
  font-family: 'Roboto-Regular';
  /*overflow-y: hidden;
  overflow-x: hidden;*/
}

.padding10{
  padding: 10px;
}

#actualCard{
  position: absolute;
  top: 25%;
  left: 12%;
  height: 100%;
  width: 80%;
  z-index: 1002;
  box-shadow: 10px 10px 5px grey;
  opacity: 1;
  background-color: #f5f5f5;
  overflow-x: hidden;
  overflow-y: hidden;
}

#slogan{
  position: absolute;
  z-index: 1005;
  top: 15%;
  left: 33%;
  font-size: 30px;
  color: white;
}

#modal1 {
  z-index: 9999;
  position: absolute;
  top: 60%;
}

#slogan1{
  position: relative;
  left: 35%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif; 
  font-style: oblique;
}

.italicize{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif; 
  font-style: oblique;
  text-decoration: underline;
}

#im {
    position: absolute;
    left: 1%; 
    top: 10%;
    background-image: url("../images/skyline4.jpg");
    background-repeat: no-repeat;
    height: 30%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

.img-circle {
    border-radius: 50%;
}

.team_member{
  color: #bdbdbd;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.team_member:hover{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  cursor: pointer;
  color: black;
}

#contactInfo{
  font-weight: bold;
}

nav {
    height: 20px;
    line-height: 20px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 20px;
    line-height: 20px;
}

nav .button-collapse i {
    height: 20px;
    line-height: 20px;
}

nav .brand-logo { 
    font-size: 1.6rem; 
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 20px;
        line-height: 20px;
    }
}
