<div id="aboutUs">
	<div class="row" id="navigationBar" style="width: 100%; position: absolute; z-index: 1009;">
	  <nav style="background-color: white; color: black; font-size: 10px;">
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo" style="padding-left: 15px;">
	        <img width="130" height="60" src="images/smartfinance-logo-small.png">
	      </a>
	      <a href="#" data-activates="mobile-nav" class="button-collapse" style="color: black"><i class="material-icons">menu</i></a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	      	<li><a style="color: black" href="#/main">Home</a></li>
	        <li><a style="color: black" href="#/services">What We Offer</a></li>
	        <li><a style="color: #03a9f4" href="#/about">About Us</a></li>
	        <li><a style="color: black" href="#/contactUs">Contact Us</a></li>
	        <li><a style="color: black" href="#/partners">Partners</a></li>
	        <li><a class="waves-effect waves-light btn light-blue modal-trigger" href="#modal1">Request Demo</a></li>
	      </ul>
	      <ul class="side-nav" id="mobile-nav">
	        <li><a style="color: black" href="sass.html">Sass</a></li>
	        <li><a style="color: black" href="badges.html">Components</a></li>
	        <li><a style="color: black" href="collapsible.html">Javascript</a></li>
	        <li><a style="color: black" href="mobile.html">Mobile</a></li>
	      </ul>
	    </div>
	  </nav>
	</div>
	<div id="modal1" class="modal">
		    <div class="modal-content">
		      <center>
		      	<h4>Thanks for Requesting a Demo</h4>
		      	<p>Please contact us at: 6734xxxxxx</p>
		      </center>
		    </div>
  	   </div>
	<div class="row" style="position: absolute; top: 15%; color: white">
			<div class="row">
				<div style="font-size: 30px; position: relative; left: 220%;color: black;">MEET OUR TEAM</div>
				<div style="position: relative; left: 250%; width: 30%;"><hr style="width:60%; background-color:black; border:none; height:1px" /></div>
			</div>
	</div>
	<div class="row team_member">
		<div class="col s6" style="position: absolute; top: 25%; left: 15%">
			<div><img class="img-circle" height="260" width="210" src="images/etta.jpg"></div>
		</div>
		<div class="col s6" style="position: absolute; top: 30%; left: 35%;font-size: 16px;">
			<span class="italicize" style="color: black">Ayuk Etta</span>&nbsp;&nbsp;<span class="italicize" style="font-size: 20px; text-decoration: none;">- CEO</span><br><br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		</div>
	</div>

	<div class="row team_member">
		<div class="col s6" style="position: absolute; top: 70%; left: 15%;font-size: 16px;">
			<span class="italicize" style="color: black">Daniel Carlson</span>&nbsp;&nbsp;<span class="italicize" style="font-size: 20px; text-decoration: none;">- Software Engineer</span><br><br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		</div>
		<div class="col s6" style="position: absolute; top: 65%; left: 70%">
			<div><img class="img-circle" height="280" width="280" src="images/carlson.jpg"></div>
		</div>
	</div>

	<div class="row team_member">
		<div class="col s6" style="position: absolute; top: 105%; left: 15%">
			<div><img class="img-circle" height="280" width="280" src="images/yannick.jpg"></div>
		</div>
		<div class="col s6" style="position: absolute; top: 110%; left: 40%;font-size: 16px;">
			<span class="italicize" style="color: black">Yannick Awasum</span>&nbsp;&nbsp;<span class="italicize" style="font-size: 20px; text-decoration: none;">- Software Engineer</span><br><br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		</div>
	</div>

	<div class="row team_member">
		<div class="col s6" style="position: absolute; top: 150%; left: 15%;font-size: 16px;">
			<span class="italicize" style="color: black">Mfontoh Blaise</span>&nbsp;&nbsp;<span class="italicize" style="font-size: 20px; text-decoration: none;">- Business Development</span><br><br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		</div>
		<div class="col s6" style="position: absolute; top: 145%; left: 70%">
			<div><img class="img-circle" height="280" width="280" src="images/pablo.jpg"></div>
		</div>
	</div>

	<div class="row team_member">
		<div class="col s6" style="position: absolute; top: 185%; left: 15%">
			<div><img class="img-circle" height="280" width="280" src="images/bill.jpg"></div>
		</div>
		<div class="col s6" style="position: absolute; top: 190%; left: 40%;font-size: 16px;">
			<span class="italicize" style="color: black">Bill Elton</span>&nbsp;&nbsp;<span class="italicize" style="font-size: 20px; text-decoration: none;">- Product Development</span><br><br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		</div>
	</div>
	<div class="row italicize" style="position: absolute; top: 235%;font-size: 16px; text-decoration: none;left: 40%;">
  		<center>
  			Built and Designed by: <a href="https://github.com/DanCarl857" target="_blank">Daniel Carlson</a>
  		</center>
  	</div>
</div>