<div id="aboutUs">
	<div class="row navbar-fixed" id="navigationBar" style="width: 100%; position: absolute; z-index: 1009;">
	  <nav style="background-color: white; color: black; font-size: 10px;">
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo" style="padding-left: 15px;">
	        <img width="130" height="60" src="images/smartfinance-logo-small.png">
	      </a>
	      <a href="#" data-activates="mobile-nav" class="button-collapse" style="color: black"><i class="material-icons">menu</i></a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	      	<li><a style="color: black" href="#/main">Home</a></li>
	        <li><a style="color: black" href="#/services">What We Offer</a></li>
	        <li><a style="color: #03a9f4" href="#/about">About Us</a></li>
	        <li><a style="color: black" href="#/contactUs">Contact Us</a></li>
	        <li><a style="color: black" href="#/partners">Partners</a></li>
	        <li><a class="waves-effect waves-light btn light-blue modal-trigger" href="#modal1">Request Demo</a></li>
	      </ul>
	      <ul class="side-nav" id="mobile-nav">
	        <li><a style="color: black" href="#/main">Home</a></li>
	        <li><a style="color: black" href="#/services">What We Offer</a></li>
	        <li><a style="color: #03a9f4" href="#/about">About Us</a></li>
	        <li><a style="color: black" href="#/contactUs">Contact Us</a></li>
	        <li><a style="color: black" href="#/partners">Partners</a></li>
	        <li><a class="waves-effect waves-light btn light-blue modal-trigger" href="#modal1">Request Demo</a></li>
	      </ul>
	    </div>
	  </nav>
	</div>
	<div id="modal1" class="modal">
		    <div class="modal-content">
		      <center>
		      	<h4>Thanks for Requesting a Demo</h4>
		      	<p>Please contact us at: +(237) 676-10-17-85</p>
		      </center>
		    </div>
  	   </div>
	<div class="row" style="position: absolute; top: 15%; color: white">
			<div class="row">
				<div style="font-size: 30px; position: relative; left: 220%;color: black;">OUR CORE TEAM</div>
				<div style="position: relative; left: 250%; width: 30%;"><hr style="width:60%; background-color:black; border:none; height:1px" /></div>
			</div>
	</div>
	<div class="row team_member">
		<div class="col s6" style="position: absolute; top: 25%; left: 15%">
			<div><img class="img-circle" height="280" width="220" src="images/etta.jpg"></div>
		</div>
		<div class="col s6" style="position: absolute; top: 30%; left: 35%;font-size: 16px;">
			<span class="italicize" style="color: black">Ayuk Etta</span>&nbsp;&nbsp;<span class="italicize" style="font-size: 20px; text-decoration: none;">- CEO</span><br><br>
			Ayuk is a Bachelor of Engineering Degree holder with experience working for a vast array of companies. He had a dream to financially include everybody in Africa and so started his own company. He is an engineer by profession and training and a business specialist by need. He is passionate, classic and fun. He loves watching movies, cooking and listening to music when he is not doing something business or engineering related.
		</div>
	</div>

	<div class="row team_member">
		<div class="col s6" style="position: absolute; top: 70%; left: 15%;font-size: 16px;">
			<span class="italicize" style="color: black">Daniel Carlson</span>&nbsp;&nbsp;<span class="italicize" style="font-size: 20px; text-decoration: none;">- Software Engineer</span><br><br>
			Daniel, a software engineer by profession, an open source enthusiast and code contributor. With his experience working for software companies, he decided to work on something that will not only be fun but impact his community positively. He loves listening to music, playing basketball and watching movies when he is not busy being and engineer.
		</div>
		<div class="col s6" style="position: absolute; top: 65%; left: 70%">
			<div><img class="img-circle" height="280" width="280" src="images/carlson.jpg"></div>
		</div>
	</div>

	<div class="row team_member">
		<div class="col s6" style="position: absolute; top: 105%; left: 15%">
			<div><img class="img-circle" height="280" width="280" src="images/yannick.jpg"></div>
		</div>
		<div class="col s6" style="position: absolute; top: 110%; left: 40%;font-size: 16px;">
			<span class="italicize" style="color: black">Yannick Awasum</span>&nbsp;&nbsp;<span class="italicize" style="font-size: 20px; text-decoration: none;">- Software Engineer</span><br><br>
			A software engineer with a wide range of skills ranging from system administration to programming enterprise solutions, Yannick is an avid lover of technology and prides himself with being the best he can be. He loves hanging out with family and friends when he is not thinking up some new thing.
		</div>
	</div>

	<div class="row team_member">
		<div class="col s6" style="position: absolute; top: 150%; left: 15%;font-size: 16px;">
			<span class="italicize" style="color: black">Mfontoh Blaise</span>&nbsp;&nbsp;<span class="italicize" style="font-size: 20px; text-decoration: none;">- Business Development</span><br><br>
			Blaise is a marketing specialist with experience in getting businesses up and running especially in the finance sector. He is a lover of technology though not a techie himself with a profound fondness for all things SQL. He loves socializing and being fun when he is not doing all things business.
		</div>
		<div class="col s6" style="position: absolute; top: 145%; left: 70%">
			<div><img class="img-circle" height="280" width="280" src="images/pablo.jpg"></div>
		</div>
	</div>

	<div class="row team_member">
		<div class="col s6" style="position: absolute; top: 185%; left: 15%">
			<div><img class="img-circle" height="280" width="280" src="images/bill.jpg"></div>
		</div>
		<div class="col s6" style="position: absolute; top: 190%; left: 40%;font-size: 16px;">
			<span class="italicize" style="color: black">Bill Elton</span>&nbsp;&nbsp;<span class="italicize" style="font-size: 20px; text-decoration: none;">- Product Development</span><br><br>
			Quiet but efficient. He is an avid worker, a hustler and a perfectionist at heart. With intimate knowledge in operations management, Bill is the go-to-guy with all things problems(operations). He loves taking walks, hanging with friends and watching movies when he is not helping build something to impact the lives of Africans.
		</div>
	</div>
	<div class="row italicize" style="position: absolute; top: 235%;font-size: 16px; text-decoration: none;left: 40%;">
  		<center>
  			Powered by: <a href="http://www.skylabase.com" target="_blank">Skylabase</a>
  		</center>
  	</div>
</div>