<div>
	<div class="row navbar-fixed" id="navigationBar" style="width: 100%;">
	  <nav style="background-color: white; color: black; font-size: 10px;">
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo" style="padding-left: 15px;">
	        <img width="130" height="60" src="images/smartfinance-logo-small.png">
	      </a>
	      <a href="#" data-activates="mobile-nav" class="button-collapse" style="color: black"><i class="material-icons">menu</i></a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	      	<li><a style="color: black" href="#/welcome">Home</a></li>
	        <li><a style="color: black" href="#/services">What We Offer</a></li>
	        <li><a style="color: black" href="#/about">About Us</a></li>
	        <li><a style="color: #03a9f4" href="#/contactUs">Contact Us</a></li>
	        <li><a style="color: black" href="#/partners">Partners</a></li>
	        <li><a class="waves-effect waves-light btn light-blue modal-trigger" href="#modal1">Request Demo</a></li>
	      </ul>
	      <ul class="side-nav" id="mobile-nav">
	        <li><a style="color: black" href="#/welcome">Home</a></li>
	        <li><a style="color: black" href="#/services">What We Offer</a></li>
	        <li><a style="color: black" href="#/about">About Us</a></li>
	        <li><a style="color: #03a9f4" href="#/contactUs">Contact Us</a></li>
	        <li><a style="color: black" href="#/partners">Partners</a></li>
	        <li><a class="waves-effect waves-light btn light-blue modal-trigger" href="#modal1">Request Demo</a></li>
	      </ul>
	    </div>
	  </nav>
	</div>
	<div id="modal1" class="modal">
	    <div class="modal-content">
	      <center>
	      	<h4>Thanks for Requesting a Demo</h4>
	      	<p>Please contact us at: +(237) 676-10-17-85</p>
	      </center>
	    </div>  
  	</div>
	<div class="row col s12" style="width: 80%;">
		<div class="col s7 right">
			<div map-lazy-load="https://maps.google.com/maps/api/js" style="background-color: #ededed;">
	  			<ng-map center="4.158246,9.282390" zoom="15" default-style="false" style="height: 500px">
	  				<div>
	  					<marker icon="../images/location.png" position="4.158246, 9.282390"></marker>
	  				</div>
	  			</ng-map>

	  			<center><div style="position: relative; top: 10px;"><span style="color: red;">*&nbsp;</span><span style="font-family: 'Times New Roman', Times, serif; font-size: 17px; color: #03a9f4"> <i>Location: Opposite Las Vegas, Top floor over Machia Bakery, Buea SW Region, Cameroon</i></span></div></center>
			</div>
		</div>
		<div class="col s5">
			<span style="font-weight: bold; font-size: 18px">Contact Us: </span><br>
			<div id="contactInfo">
				<em>Company: <a href="www.skylabase.com" target="_blank">Skylabase Ets</a></em> |
				<em>Phone: <a href="#">+(237) 676-10-17-85</a></em>
			</div>
			<form class="col s12" id="contactUsForm">
		      <div class="row">
		        <div class="input-field col s6">
		          <input id="first_name" type="text" ng-model="firstName" class="validate">
		          <label for="first_name">First Name</label>
		        </div>
		        <div class="input-field col s6">
		          <input id="last_name" type="text" ng-model="lastName" class="validate">
		          <label for="last_name">Last Name</label>
		        </div>
		      </div>
		      <div class="row">
		        <div class="input-field col s12">
		          <input id="subject" type="text" ng-model="subject" class="validate">
		          <label for="subject">Subject</label>
		        </div>
		      </div>
		      <div class="row">
		        <div class="input-field col s12">
		          <input id="email" type="email" ng-model="email" class="validate">
		          <label for="email">Email</label>
		        </div>
		      </div>
		      <div class="row">
		        <div class="input-field col s12">
		          <textarea id="textarea1" ng-model="description" class="materialize-textarea"></textarea>
		          <label for="textarea1">Description</label>
        		</div>
     		 </div>
     		 <div class="row">
                  <a class="btn waves-effect waves-light red darken-1 left" ng-click="clearForm()">Cancel</a>
                  <button class="btn waves-effect waves-light light-green darken-2 right" ng-click="contactSky()">Submit</button>
              </div>
    		</form>
  	</div>
		</div>
	<div id="contactModal" class="modal" style="z-index: 1000">
               <div class="modal-content">
                 <span style="font-size: 25px;">Please wait....Processing request</span>
               </div>
               <div class="modal-footer">
                 <div class="progress">
                   <div class="indeterminate"></div>
                 </div>
               </div>
           </div>
	<div class="row italicize" style="position: absolute; top: 98%;font-size: 16px; text-decoration: none;left: 40%;">
  		<center>
  			Powered by: <a href="http://www.skylabase.com" target="_blank">Skylabase</a>
  		</center>
  	</div>
</div>