<div>
	<div class="row navbar-fixed" id="navigationBar" style="width: 100%;">
	  <nav style="background-color: white; color: black; font-size: 10px;">
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo" style="padding-left: 15px;">
	        <img width="130" height="60" src="images/smartfinance-logo-small.png">
	      </a>
	      <a href="#" data-activates="mobile-nav" class="button-collapse" style="color: black"><i class="material-icons">menu</i></a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	      	<li><a style="color: black" href="#/welcome">Home</a></li>
	        <li><a style="color: black" href="#/services">What We Offer</a></li>
	        <li><a style="color: black" href="#/about">About Us</a></li>
	        <li><a style="color: black" href="#/contactUs">Contact Us</a></li>
	        <li><a style="color: #03a9f4" href="#/partners">Partners</a></li>
	        <li><a class="waves-effect waves-light btn light-blue modal-trigger" href="#modal2">Request Demo</a></li>
	      </ul>
	      <ul class="side-nav" id="mobile-nav">
	        <li><a style="color: black" href="#/welcome">Home</a></li>
	        <li><a style="color: black" href="#/services">What We Offer</a></li>
	        <li><a style="color: black" href="#/about">About Us</a></li>
	        <li><a style="color: black" href="#/contactUs">Contact Us</a></li>
	        <li><a style="color: #03a9f4" href="#/partners">Partners</a></li>
	        <li><a class="waves-effect waves-light btn light-blue modal-trigger" href="#modal2">Request Demo</a></li>
	      </ul>
	    </div>
	  </nav>
	</div>
	<div id="modal2" class="modal">
		    <div class="modal-content">
		      <center>
		      	<h4>Thanks for Requesting a Demo</h4>
		      	<p>Please contact us at: 6734xxxxxx</p>
		      </center>
		    </div>
  	</div>
  	<div class="row">
  		<div class="row" style="position: absolute; top: 15%; color: white">
			<div class="row">
				<div style="font-size: 30px; position: relative; left: 220%;color: black;">OUR PARTNERS</div>
				<div style="position: relative; left: 250%; width: 30%;"><hr style="width:60%; background-color:black; border:none; height:1px" /></div>
			</div>
		</div>
  	</div>
  	<div class="row" style="position: absolute; top: 30%;">
  		<div class="col s3 team_member">
  			<img width="280" height="250" src="images/skylabase2.png">
  		</div>
  		<div class="col s3 team_member" style="position: absolute; left: 180%;">
  			<img width="200" height="200" src="images/mifos2.png">
  		</div>
  		<div class="col s3 team_member" style="position: absolute; left: 315%;">
  			<img class="img-circle" width="250" height="200" src="images/stellar2.jpg">
  		</div>
  	</div>
  	<div class="row" style="position: absolute; top: 75%;">
  		<div class="col s3 team_member" style="margin-left: 30px">
  			<img width="180" height="180" src="images/active.jpg">
  		</div>
  		<div class="col s3 team_member" style="position: absolute; left: 230%;">
  			<img class="img-circle" width="200" height="200" src="images/gdg2.png">
  		</div>
  		<div class="col s3 team_member" style="position: absolute; left: 400%;">
  			<img width="250" height="150" src="images/colorfluid.png">
  		</div>
  	</div>
  	<div class="row" style="position: absolute; top: 125%;">
  		<div class="col s3 team_member">
  			<img width="350" height="250" src="images/noelaLyonga.png">
  		</div>
  		<div class="col s3 team_member" style="position: absolute; left: 140%;">
  			<img  width="210" height="150" src="images/beriven1.png">
  		</div>
  		<div class="col s3 team_member" style="position: absolute; left: 255%;">
  			<img width="280" height="150" src="images/2545.png">
  		</div>
  	</div>
  	<div class="row italicize" style="position: absolute; top: 160%;font-size: 16px; text-decoration: none;left: 40%;">
  		<center>
  			Built and Designed by: <a href="https://github.com/DanCarl857" target="_blank">Daniel Carlson</a>
  		</center>
  	</div>
</div>