<div>
	<div class="row" id="navigationBar" style="width: 100%;">
	  <nav style="background-color: white; color: black; font-size: 10px;">
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo" style="padding-left: 15px;">
	        <img width="130" height="60" src="images/smartfinance-logo-small.png">
	      </a>
	      <a href="#" data-activates="mobile-nav" class="button-collapse" style="color: black"><i class="material-icons">menu</i></a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	      	<li><a style="color: black" href="#/main">Home</a></li>
	        <li><a style="color: #03a9f4" href="#/services">What We Offer</a></li>
	        <li><a style="color: black" href="#/about">About Us</a></li>
	        <li><a style="color: black" href="#/contactUs">Contact Us</a></li>
	        <li><a style="color: black" href="#/partners">Partners</a></li>
	        <li><a class="waves-effect waves-light btn light-blue modal-trigger" href="#modal1">Request Demo</a></li>
	      </ul>
	      <ul class="side-nav" id="mobile-nav">
	        <li><a style="color: black" href="sass.html">Sass</a></li>
	        <li><a style="color: black" href="badges.html">Components</a></li>
	        <li><a style="color: black" href="collapsible.html">Javascript</a></li>
	        <li><a style="color: black" href="mobile.html">Mobile</a></li>
	      </ul>
	    </div>
	  </nav>
	</div>
	<div id="modal1" class="modal">
		    <div class="modal-content">
		      <center>
		      	<h4>Thanks for Requesting a Demo</h4>
		      	<p>We are currently setting up the platform in the cloud. Coming Soon!</p>
		      	<p>But if your can't wait, contact us at: 6734xxxxxx</p>
		      </center>
		    </div>
  	   </div>
	<div class="row">
		<span style="font-size: 30px; position: relative; left: 38%;">Smart Finance Platform</span><br>
		<span style="font-size: 23px; position: relative; left: 35%; color: #9e9e9e; font-family: 'Times New Roman', Times, serif; font-style: oblique;">The Smart Way To Keep Finances In Check</span>
	</div>

	<div class="row">
		<div class="col s6 team_member" style="position: absolute; top: 30%; left: 17%;font-size: 16px;">
			<div><img class="img-circle" height="310" width="310" src="images/effective2.jpg"></div>
			<span class="italicize" style="color: black">Effective client Management</span><br>
			<li>Central and Branch wise Management</li>
			<li>Multi Language</li>
			<li>Multi Currency</li>
			<li>Document Attachment</li>
			<li>Unlimited Accounts</li>
			<li>Customer Approval Process</li>
			<li>Customer closure and blacklists</li>
			<li>New Customer Verification and Approval</li>
		</div>
		<div class="col s6 team_member" style="position: absolute; top: 30%; left: 63%;font-size: 16px;">
			<div><img class="img-circle" height="310" width="310" src="images/flexible.jpg"></div>
			<span class="italicize" style="color: black">Flexible Financial Products</span><br>
			<li>Savings and share Accounts</li>
			<li>Current/Checking Accounts</li>
			<li>Term Deposits</li>
			<li>Collateral Loans</li>
			<li>Agricultural Loans</li>
			<li>Open End/Top Up Loans</li>
			<li>Line of Credit Loans</li>
			<li>Incremental Disbursement Loans</li>
			<li>Village/Savings Group Lending</li>
		</div>
	</div>

	<div class="row">
		<div class="col s6 team_member" style="position: absolute; top: 120%; left: 17%;font-size: 16px;">
			<div><img class="img-circle" height="310" width="310" src="images/mobile.jpg"></div>
			<span class="italicize" style="color: black">Mobile Compliant Delivery</span><br>
			<li>Android Applications</li>
			<li>Mobile Field Operations via Tablet and Smart Phones</li>
			<li>Online/Offline</li>
			<li>Store and Forward Capabilities</li>
			<li>Visa and Mastercard capabilities</li>
			<li>Mobile Money Integrated</li>
			<li>SMS and Email notifications</li>
			<li>USSD Applications and Money Transfer</li>
		</div>
		<div class="col s6 team_member" style="position: absolute; top: 120%; left: 63%; font-size: 16px;">
			<div><img class="img-circle" height="310" width="310" src="images/biz4.jpg"></div>
			<span class="italicize" style="color: black">Business Management</span><br>
			<li>Social Performance Measurement</li>
			<li>Accounting</li>
			<li>Reporting</li>
			<li>Work-flow Management</li>
			<li>User Roles and Permissions</li>
			<li>Cash Management</li>
			<li>Full Customization as per business processes</li>
		</div>
	</div>

	
</div>