<div id="welcome" style="overflow-x: hidden; overflow-y: hidden;">
	<div class="row" id="navigationBar" style="width: 100%;">
	  <nav style="background-color: white; color: black; font-size: 10px;">
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo" style="padding-left: 15px;">
	        <img width="130" height="60" src="images/smartfinance-logo-small.png">
	      </a>
	      <a href="#" data-activates="mobile-nav" class="button-collapse" style="color: black"><i class="material-icons">menu</i></a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	      	<li><a style="color: #03a9f4" href="#/main">Home</a></li>
	        <li><a style="color: black" href="#/services">What We Offer</a></li>
	        <li><a style="color: black" href="#/about">About Us</a></li>
	        <li><a style="color: black" href="#/contactUs">Contact Us</a></li>
	        <li><a style="color: black" href="#/partners">Partners</a></li>
	        <li><a class="waves-effect waves-light btn light-blue modal-trigger" href="#modal1">Request Demo</a></li>
	      </ul>
	      <ul class="side-nav" id="mobile-nav">
	        <li><a style="color: black" href="sass.html">Sass</a></li>
	        <li><a style="color: black" href="badges.html">Components</a></li>
	        <li><a style="color: black" href="collapsible.html">Javascript</a></li>
	        <li><a style="color: black" href="mobile.html">Mobile</a></li>
	      </ul>
	    </div>
	  </nav>
	</div>
	<div class="row container" id="cardLikeDiv">
		<div class="row" id="im"></div>
		<div class="row" id="slogan">
			SMART FINANCE - <span style="font-size: 20px; font-family: 'Times New Roman', Times, serif; font-style: oblique;">Banking With Innovation!</span>	
		</div>
		<div id="modal1" class="modal">
		    <div class="modal-content">
		      <center>
		      	<h4>Thanks for Requesting a Demo</h4>
		      	<p>We are currently setting up the platform in the cloud. Coming Soon!</p>
		      	<p>But if your can't wait, contact us at: 6734xxxxxx</p>
		      </center>
		    </div>
  	   </div>
		<div class="row z-depth-5 container" id="actualCard" style="padding: 10px;">
			<div class="row padding10" id="slogan1">
				Enriching The Lives Of The People We Touch.
			</div>
			<div class="row">
				<div class="slider">
				    <ul class="slides">
				      <li>
				        <img src="images/wallpaper_2.jpg">
				      </li>
				      <li>
				        <img src="images/wallpaper_3.jpg">
				      </li>
				      <li>
				        <img src="images/wallpaper_4.jpg">
				      </li>
				    </ul>
	  			</div>
  			</div>
		</div>
	</div>
</div>